<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JobConnect</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/styles.css" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"
    />
  </head>
  <body>
    <header>
      <div class="header-container">
        <a class="logo-link" href="/"><span class="logo">Dev</span> Lilian</a>
        <div class="menu-toggle" id="menu-toggle">
          <i class="fa-solid fa-bars"></i>
        </div>
        <nav id="navbar">
          <a href="#about">About</a>
          <a href="#skills">Skills</a>
          <a href="#projects">Projects</a>
          <a href="#resume">Resume</a>
          <a href="/contact">Contact</a>
        </nav>
      </div>
    </header>
  </body>
</html>
